@model MvcCoreApplication.Models.Department
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are You Sure! You Want to Delete it?</h3>
@Html.DisplayFor(model => model.Name)

<br />

@Html.DisplayFor(model => model.Location)
<br />


@Html.DisplayFor(model => model.Email)
<br />


@Html.DisplayFor(model => model.DepartmentAddress)
<br />


@using (Html.BeginForm("Delete", "Department", FormMethod.Post))
{
    <p>
        <input type="submit" value="Delete" />
        @Html.ActionLink("Back to List", "Index")
    </p>
}



