
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    @* @foreach(var dep in ViewBag.departmentList)
        {
            <li>@dep.Id - @dep.Name - @dep.Location</li>
        }
    *@
</ul>
<table>
    <thead>
        <tr>


            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Email</th>
            <th>Department Added Date</th>
            <th>Actins</th>

        </tr>
    </thead>


    <tbody>

        @foreach (var dep in ViewBag.departmentList)
        {
            <tr>
                <td>@dep.Id</td>
                <td>@dep.Name</td>
                <td>@dep.Location</td>
                <td>@dep.Email</td>
                <td>@dep.DepartmentAddress</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = dep.Id }) |
                    @Html.ActionLink("Details", "Details", new { Id = dep.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { Id = dep.Id }) |
                </td>
            </tr>
        }
    </tbody>
</table>